// 文字start
.p-xss{
    font-size: 14px;
}

.p-xs{
    font-size: 20px;
}

.p-s{
    font-size: 24px;
}

.p-m{
    font-size: 36px;
}

.p-l{
    font-size: 48px;
}

.p-500{
    font-weight: 500;
}

.p-700{
    font-weight: 700;
}

.p-900{
    font-weight: 900;
}

.p-c-w{
    color: white;
}

.p-c-b{
    color: black;
}

.p-c-r{
    color: #AA0601;
}

// 對button按鈕設定字型
.button-fm{
    font-family: 'Noto Sans TC', sans-serif;
}

.p-style-i{
    font-style: italic;
}

.ta-l{
    text-align: left;
}

.ta-r{
    text-align: right;
}

.ta-c{
    text-align: center;
}
// 文字end
