// 背景start
.bg-r{
    background-color: #AA0601;
}

.bg-p{
    background-color: #FBF2F2;
}
// 背景end

// 色塊start
.b-1color{
    background: #5F3E2D;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

.b-2color{
    background: #B75929;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}
// 色塊end