.menu-list{
    // 四個<li>總寬度492=設計稿上一個<li>寬80+第一個與最後一個距離332+最後一個<li>寬80。
    // 492/1296=0.379 =>38%
    width: 38%;
    li{
        width: 100%;
        text-align: center;
        @include small {
            width: 50%;
            border: 1px solid white;
            background-color: #AA0601;
        } 
    }
    a:hover{
        background-color: yellow;
    }
    @include medium {
        // 492/696=0.706 =>71%
        width: 71%;
    }
    // 手機板時ul>li選單用相對定位方式，定在<nav>裡logo圖80px高度之下緊接著
    @include small {
        position: absolute;
        // nav區塊高度80px
        top: 80px;
        width: 100%;
    }
}

.menu-a{
    padding-top: 25px;
    padding-bottom: 25px;
    @include small {
        // 自行設推擠上下的值
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.logo{
    width: 80px;
    &:hover{
        transform: scale(110%);
        transition: all 0.3s;
    }
    // logo圖片高度=開發人員看48+推擠(16+16)=80
    @include small {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

nav{
    @include small {
        position: relative;
        // 因為<nav>底下的ul選單設了position: absolute造成這個區塊會浮動，如果沒有把<nav>向下推擠，index頁面.banner的背景圖片會被選單給覆蓋。因為選單浮動了，造成下面區塊向上推，彌補空的部分。112是從開發人員看四個<li>總高度而得
        margin-bottom: 112px;
    }
    .flexbox-sb{
        @include small {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center; 
        }
    }
}


