.sunglasses-top-img{ 
    .left{
        background-image: url("../images/product-header-3.png");
        background-size: cover;
        background-position: center center;
        height: 296px;
        width: 100%;
        @include medium {
            background-image: url("../images/product-header-sm-3.png");
        }
    }
    .right{
        background-image: url("../images/product-header-4.png");
        background-size: cover;
        background-position: center center;
        height: 296px;
        width: 100%;
        @include medium {
            background-image: url("../images/product-header-sm-4.png");
        }
    }
}

.sunglasses-main{
    @include small {
        padding-top: 40px;
        padding-bottom: 64px;
        &>h3{
            padding-bottom: 24px;
        }
    }

    .sunglasses-block{
        flex-wrap: wrap;
        &>li{
        // /寫法1：卡片間距24*2=48，用calc去運算=(1296-48)/3=416
        // 寫法2：306/1296=0.2361 =>24%
        width: calc((100% - 48px) / 3);
        margin-bottom: 80px;  
        @include medium {
            width: calc((100% - 24px) / 2);
            margin-bottom: 40px;
        }
        @include small {
            width: 100%;
            margin-bottom: 24px;
        }
        }
        &>li:nth-last-child(2){
            @include medium {
                margin-bottom: 80px;
            }
            @include medium {
                margin-bottom: 24px;
            }
        }
        &>li:nth-last-child(1){
            @include medium {
                margin-bottom: 80px;
            }
            @include small {
                margin-bottom: 64px;
            }
        }
        img{
            // 原圖太小，手機板下圖片無法滿版。故設定width: 100%滿版
            @include small {
                width: 100%;
            }
        }
    }
}