.container{
    // 1920-312-312=1296
    // 1296+左右留白(12+12)=1320
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @include medium {
        // 768-36-36=696
        // 696+左右留白(12+12)=720
        max-width: 720px;
    }
    @include small {
        // 375-13-13=349
        // 349+左右留白(12+12)=373。
        // 不要寫max-width: 373px因為解析度767(含)以下時，很多區塊裡的單欄圖片無法滿版，會受此限制
        max-width: 100%;
    }
}
