// 與其他頁面共用
.pagination{
    li{
        border: 1px solid #555555;
        a{
            color: #555555;
            padding: 12px;
            &:hover{
                background: #000000;
                color: white;
            }
        }
        &:nth-child(1) a{
            padding: 12px;
        }
        &:nth-last-child(1) a{
            padding: 12px;
        }
    }    
}